:root {
  --cell-image-size-: 40px;
  --option-border-color-: #606060;
}

/* Responsive */
@media screen and (max-width: 580px) {
  /* Control bars */
  .mobile-btn {
    display: block !important;
  }

  .control-bar {
    position: fixed !important;
    justify-content: flex-end;
    height: 100%;
    flex-direction: column-reverse;
  }

  .control-bar p {
    border-top: 3px solid var(--option-border-color-);
  }

  .control-bar .control-container {
    border-right: none !important;
  }

  .control-bar button.close-btn {
    display: block !important;
  }
}

/* Animations */
@keyframes hover {
    0% {
      outline: 3px solid #1f53ff;
    }
    25% {
      outline: 3px solid #ff1f48;
    }
    50% {
      outline: 3px solid #1fff22;
    }
    75% {
      outline: 3px solid #cbff1f;
    }
    100% {
      outline: 3px solid #1f53ff;
    }
}

/* Element's default style */
* {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17px;
}

html, body {
  overflow: hidden;
  margin: 0;
}

button {
  background-color: #fff;
  border: none;
  padding: 5px;
  margin: 2.5px 0 2.5px 0;
}

button:hover {
  cursor: pointer;
  background: #dff;
}

input[type=text],input[type=number],input[type=checkbox]{
  padding: 5px;
  margin: 2.5px 0 2.5px 0;
  width: 50px;
}

input[type=checkbox]{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

/* Outer */
.frame {
  display: flex;
}

.frame .table-container {
  margin-top: 100px;
}

/* Map Generation */
.map-container {
    margin-top: 100px;
}

.map-container .map {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 40px);
    gap: 0px;
}

.map-block {
    width: 40px;
    height: 40px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  backface-visibility: hidden;
  z-index: -1;
}

th {
  display: table-cell;
  padding: 0;
}

th:hover, .map-block:hover {
    cursor: pointer;
    animation-name: hover;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.image-containment-overlay, .texture-containment-overlay {
  position: relative;
}

.image-overlay, .block-debug-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.space {
  width: var(--cell-image-size-);
  height: var(--cell-image-size-);
  display: inline-block;
  float: left;
}

.img, .block-texture {
  width: var(--cell-image-size-);
  height: var(--cell-image-size-);
  display: inline-block;
  float: left;
  user-select: none;
}

/* Control Bars */
.mobile-btn {
  background: #ddd;
  display: none;
  position: absolute;
  padding: 15px;
  margin: 10px;
  z-index: 1;
}

.mobile-btn i {
  font-size: 30px;
}

.mobile-control-bar-menu {
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.mobile-regenerate-btn {
  border-radius: 12px;
  left: 0;
  bottom: 0;
}

.control-bar {
  position: absolute;
  display: flex;
  padding: 8px;
  background: #ddd;
  margin-left: 0;
  width: 100%;
  z-index: 2;
}

.control-bar p {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.control-bar .control-container {
  margin: 2px 3px 2px 3px;
  border-right: 1px solid var(--option-border-color-);
  padding-right: 10px;
}

.control-bar .input-controls {
  display: flex;
  flex-direction: column;
}

.input-controls .input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.control-bar button {
  width: 100%;
}

.control-bar button.close-btn {
  display: none;
}

.control-bar .details {
  width: auto;
}

.control-bar .details p {
  margin: 1px;
}

.normal {
  font-weight: normal;
}

/* Structure */
.top-divider {
  border-top: 1px solid var(--option-border-color-);
}

/* Selection */
[selected]{
  animation-name: hover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Canvas */
canvas {
    margin-top: 50px;
    border: 1px solid black;
    image-rendering: pixelated;
}